/* fuentes */
@font-face {
    font-family: "LinLibertine_R";
    src: url(../font/LinLibertine_R.ttf);
}
@font-face {
    font-family: "LinLibertine_RB";
    src: url(../font/LinLibertine_RB.ttf);
}
$fuente1: "LinLibertine_R";
$fuente2: "LinLibertine_RB";


$color1: #bca65e;
$color2: #524829;
$color3: #141414;